
1 VERSIONINFO
FILEVERSION 1,1,2,0
PRODUCTVERSION 1,1,2,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "OpenIndex.de"
		VALUE "FileDescription", "Remote Support Tool for customers"
		VALUE "FileVersion", "1.1.2"
		VALUE "InternalName", "CustomerSupportTool.exe"
		VALUE "LegalCopyright", "Copyright (c) 2015-2021 OpenIndex.de"
		VALUE "OriginalFilename", "CustomerSupportTool.exe"
		VALUE "ProductName", "Customer Support Tool"
		VALUE "ProductVersion", "1.1.2"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}
