
1 VERSIONINFO
FILEVERSION 0,5,1,0
PRODUCTVERSION 0,5,1,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "FileDescription", "Remote Support Tool"
		VALUE "OriginalFilename", "RemoteSupportTool-0.5.1.exe"
		VALUE "CompanyName", "OpenIndex.de"
		VALUE "FileVersion", "0.5.1"
		VALUE "LegalCopyright", "Copyright © 2015-2018 OpenIndex"
		VALUE "ProductName", "Remote Support Tool"
		VALUE "ProductVersion", "0.5.1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}
