#!/usr/bin/env bash
#
# Environment variables for build scripts.
# Copy this file to ".env" and enter your environment variables.
#

# In order to sign the application for yourself, you need to obtain a Developer ID from Apple and set the
# name of your signature key in the APPLE_CODESIGN_KEY variable.
APPLE_CODESIGN_KEY=""

# In order to notarize the application, you need to obtain a Developer ID from Apple and set its email address in the
# APPLE_DEVELOPER_MAIL variable.
APPLE_DEVELOPER_MAIL=""

# In order to notarize the application, you need to obtain a Developer ID from Apple and set its password in the
# APPLE_DEVELOPER_PASSWORD variable. If no password is provided, you need to enter it manually during the notification
# process.
#
# Notice: You can't use the global password. Instead you need to login at https://appleid.apple.com/ with your account
# and create an application specific password.
APPLE_DEVELOPER_PASSWORD=""
